<form action="/parcel" method="post">
    <h2>Enter dimensions and weight of your parcel</h2>
    <label for="length">Length</label>
    <input id="length" name="length" type="number"><br>
    <br>
    <label for="height">Height</label>
    <input id="height" name="height" type="number"><br>
    <br>
    <label for="width">Width</label>
    <input id="width" name="width" type="number"><br>
    <br>
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="number"><br>
    <br>
    <button type="submit">Submit</button>
</form>